csbdeep
imutils
matplotlib
numpy
opencv_python
pandas
Pillow
pylibtiff==0.4.4
retry
scikit_learn
scipy
stardist==0.8.3
tensorflow-gpu==2.4.0
tifffile
tqdm
trackpy
scikit_image
treelib
imagecodecs
bitarray
openpyxl
trackpy
shapely
